
{% extends 'account/base.html' %}
{% block content %}
{% load static %}






<table class="table">
  <thead>
    <tr>
      <th scope="col" style="width: 10">S.No</th>
      <th scope="col" style="width: 40">File</th>
      <th scope="col" style="width: 40">Converted Into</th>
      <th scope="col" style="width: 40">Created On</th>

      <th scope="col" style="width: 10">Action</th>
    </tr>
  </thead>
  <tbody>
  	{% for one in audio %}
    <tr>
      <th scope="row" style="width: 10">{{ forloop.counter }}</th>
      <td style="width: 40">{{one.document.name|slice:'30'}}</td>
      <td style="width: 40">{% if one.language == 'hi' %}Hindi{% elif one.language == 'ml' %}Malayalam{% elif one.language == 'ta' %}Tamil{% elif one.language == 'kn' %}Kannada{% elif one.language == 'te' %}Telugu{% endif %}</td>
      <td style="width: 40">{{one.created_on|date:'d-m-Y'}}</td>

<!--       <td style="width: 40"><audio controls="controls" src="/media/{{one.audio}}">Play
         </audio></td>
 -->      <td style="width: 10"><a href="/view_all_audio/?request_id={{one.id}}">View</a>&nbsp; &nbsp;&nbsp;<a href="#" data-id = "{{one.id}}" class="icon_Delete">Delete</a></td>
    </tr>
    {% endfor %}
    </tr>
  </tbody>
</table>
<script type="text/javascript">
       $('.icon_Delete').click(function(){
       swal({
     
          title : "Confirmation",
          text : "Are you sure you want to Delete ?",
          buttons : {
             cancel : true,
             confirm : "Confirm"
          }
     
     
       }).then(val =>{

        var ids = $(this).attr('data-id');
        if (val){
            var url = '/delete_audio/?request_id='+ids; 
            window.location.href = url

             swal({
                title : "Thanks !",
                text : "You have Sucessfully Delete this Record",
                icon : "success"
     
             })
          }
       })
     
     })


</script>
{% endblock %}

